#header-page{
    font-family: Rubik-Regular;
    font-size: 24px;
    color: black;
    text-align: left;
    line-height: 32px;
    background: #8640E9;
border-radius: 101px;  
}

h1 {
    font-family: Rubik-Light;
    font-size: 22px;
    color: #2F2F2F;
    letter-spacing: 0;
    text-align: left;
    line-height: 40px;   
}

#container1{
    font-family: Rubik-Medium;
    font-size: 30px;
    color: #2F2F2F;
}



